/* myStyle.css */
    body {
      margin: 0;
      background: url("https://cdn.discordapp.com/attachments/289778341479972864/504673064315912202/white_grey_wallpaper_symetrisch.png");
      background-position: center;
      font-family: 'Poppins', sans-serif;
    }

    H3 {
      text-align: center;
      font-size: 80px;
      margin: 0;
      font-family: 'Bungee Shade';
      font-weight: lighter;
    }

    footer {
      background-color: rgba(40, 40, 40, 1);
      padding: 1px;
      padding-right: 15px;
      text-align: right;
      color: white;
      padding-top: 15px;
      font-family: 'Quicksand', sans-serif;
      letter-spacing: -0.6;
      font-kerning: auto;
      font-size: 18px;
    }

    .portfolio:hover {
      font-size: 20px;
      transition: 0.25s;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      max-width: 100%;
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    }

    .row {
      max-width: 100%;
      display: flex;
      margin-bottom: 40px;
    }

    .tab {
      position: fixed;
      width: 100%;
      overflow: hidden;
      background-color: rgba(40, 40, 40, 1);
      text-align: center;
    }

    .tab button {
      background-color: inherit;
      background-position: center;
      color: white;
      float: left;
      border: 10px solid rgba(0, 0, 255, 0);
      transition: border 0.25s;
      outline: none;
      cursor: pointer;
      padding: 7px 12px;
      font-size: 17px;
      width: 20%;
      transition: 0.3s;
      background-size: 120%;
      margin: 0 auto;
    }

    .tab button.tablinks:hover {
      border-bottom-color: rgba(255, 0, 0, 0.7);
      transition: border 0.25s;
    }

    .tab button.tablinks2:hover {
      background: url("http://www.bhmpics.com/walls/red_random_colors-other.jpg");
      background-size: 150%;
      background-position: center;
      transition: 0.25s;
    }

    .tab button.tablinks.active {
      background-color: red;
    }

    .tab button.tablinks2.active {
      background: url("http://www.bhmpics.com/walls/red_random_colors-other.jpg");
      background-size: 150%;
      background-position: center;
    }

    .tabcontent {
      color: grey;
      display: block;
      padding: 100px 20px;
      height: 100%;
      background: white;
    }

    .portfolio {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0 auto;
    }


    .portfolio {
      color: rgba(255, 255, 255, 1);
      font-weight: lighter;
      font-family: 'Poppins', sans-serif;
      font-size: 0px;
      transition: 0.25s;
      margin-bottom: 40px;
      max-width: 60%;
    }

    #intro {
      background-color: grey;
      color: white;
    }

    #Me {
      background-color: white;
      text-align: left;
    }

    #michael {
      border: 10px solid grey;
      margin: 0 auto;
    }

    #meP {
      font-size: 22px;
      padding: 10px;
      line-height: 40px;
    }

    #H3p {
      margin-top: -30px;
      margin-bottom: 40px;
      font-size: 20px;
    }

    #portfolio {
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-top: 0;
      flex: 40%;
    }

    #footerp {
      text-align: center;
      font-style: italic;
      color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
    }

    #Mgallery {
      max-width: 60%;
      margin-top: 0;
      margin-bottom: 30px;
    }

    #pictureMe {
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 60%;
    }

    #footerM {
      float: left;
      max-width: auto;
      max-height: 100px;
      margin-right: -100px;
    }

    #Hpics {
      line-height: 80px;
    }

    #portfolio2 {
      max-width: 40%;
    }

    #otherimg {
      background: white;
      color: black;
    }

    #ProfilePics {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    }

    @media screen and (max-aspect-ratio: 1/1) {
      H3 {
        font-size: 40px;
      }

      .tab button {
        font-size: 10px;
      }

      h9 {
        margin-left: -900px;
        margin-right: -900px;
      }

      #H3p {
        margin-left: 15%;
        margin-right: 15%;
      }

      #Hpics {
        line-height: 50px;
      }
    }

    #website-content {
      text-align: center;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 10px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.4);
      height: auto;
    }
